In [1]:
import numpy as np
import pandas as pd
from config import paths_to_cleaned_data
from datetime import timedelta, datetime
pd.set_option("display.max_rows", 200)
pd.set_option("display.max_columns", 50)

In [2]:
def extract(paths: dict) -> tuple:

    """Extract data from a given paths"""

    item_cat = pd.read_pickle(paths['item_cat'])
    items = pd.read_pickle(paths['items'])
    sales_train = pd.read_pickle(paths["sales_train"])
    shops = pd.read_pickle(paths["shops"])
    test = pd.read_pickle(paths["test"])
    return sales_train, item_cat, shops, items, test

In [3]:
%%time
data, item_cat, shops, items, test = extract(paths_to_cleaned_data)
supplementary_tables = (items, item_cat, shops)

CPU times: user 24.1 ms, sys: 73.3 ms, total: 97.4 ms
Wall time: 95 ms

In [4]:
class Validator:
    
    def __init__(self, schema, statistics: pd.DataFrame):
        self.schema = list(schema)
        self.stats = statistics
    
    def _check_schema(self, df):
        assert list(df.columns) == self.schema,\
        TypeError(f"DataFrame schema doesn't correspond required format.\n Required schema: {self.schema}")
        
    def _check_nulls(self, df):
        assert ~df.isnull().values.any(), ValueError("Data contains missing values")
        
    def _check_outliers(self, df, num_std=3):
        columns = df.dtypes[(df.dtypes == 'int64')|(df.dtypes == 'float64')].index
        for col in columns:     
            if (df[f'{col}'] - self.stats[f'{col}']['mean']).abs().max() > num_std*self.stats[f'{col}']['std']:
                raise ValueError(f"{col} contains outliers")
                
    def _check_date_type(self, df):
        assert df.date.dtype == 'datetime64[ns]', TypeError("Index should be of type Timestamp")

    def _check_date_range(self, df):
        if (df.date.min() < pd.Timestamp('2013-01-01')) or (df.date.max() > pd.Timestamp('2022-12-31')):
            raise ValueError("Data should be within the range of 2013-01-01 and 2022-12-31")

        
    def validate(self, df):
        self._check_schema(df)
        self._check_nulls(df)
        self._check_outliers(df, num_std=200)
        self._check_date_type(df)
        self._check_date_range(df)
        return True

In [5]:
val = Validator(schema = data.columns, statistics = data.describe())
success = val.validate(data)
print("Validation succesfully passed!") if success else print(":(")

Validation succesfully passed!

In [6]:
st = sales_train.groupby(['date','shop_id', 'item_id'], as_index=False)\
                 .sum(numeric_only=True)
# st.set_index(['shop_id', 'item_id'], inplace=True)

In [56]:
st.shift(periods=1)

                            date_block_num  item_price  item_cnt_day
date       shop_id item_id
2013-01-01 2       991                 NaN         NaN           NaN
                   1472                0.0        99.0           1.0
                   1905                0.0      2599.0           1.0
                   2920                0.0       249.0           1.0
                   3320                0.0       599.0           2.0
...                                    ...         ...           ...
2015-10-31 59      20730              33.0       299.0           3.0
                   20866              33.0       499.0           1.0
                   20949              33.0       699.0           1.0
                   21369              33.0         5.0           1.0
                   21449              33.0       169.0           1.0

[2935785 rows x 3 columns]

In [7]:
st

              date  shop_id  item_id  date_block_num  item_price  item_cnt_day
0       2013-01-01        2      991               0        99.0           1.0
1       2013-01-01        2     1472               0      2599.0           1.0
2       2013-01-01        2     1905               0       249.0           1.0
3       2013-01-01        2     2920               0       599.0           2.0
4       2013-01-01        2     3320               0      1999.0           1.0
...            ...      ...      ...             ...         ...           ...
2935780 2015-10-31       59    20730              33       499.0           1.0
2935781 2015-10-31       59    20866              33       699.0           1.0
2935782 2015-10-31       59    20949              33         5.0           1.0
2935783 2015-10-31       59    21369              33       169.0           1.0
2935784 2015-10-31       59    21449              33       449.0           1.0

[2935785 rows x 6 columns]

In [8]:
st.assign(date=st.date+timedelta(days=7))

              date  shop_id  item_id  date_block_num  item_price  item_cnt_day
0       2013-01-08        2      991               0        99.0           1.0
1       2013-01-08        2     1472               0      2599.0           1.0
2       2013-01-08        2     1905               0       249.0           1.0
3       2013-01-08        2     2920               0       599.0           2.0
4       2013-01-08        2     3320               0      1999.0           1.0
...            ...      ...      ...             ...         ...           ...
2935780 2015-11-07       59    20730              33       499.0           1.0
2935781 2015-11-07       59    20866              33       699.0           1.0
2935782 2015-11-07       59    20949              33         5.0           1.0
2935783 2015-11-07       59    21369              33       169.0           1.0
2935784 2015-11-07       59    21449              33       449.0           1.0

[2935785 rows x 6 columns]

In [20]:
lag7 = st.merge(st.assign(date=st.date+timedelta(days=7)),
         on = ['date','shop_id', 'item_id','date_block_num', 'item_price'],
         how = 'left',
         suffixes = ['', '_7_days_ago']).fillna(0)
lag7.head(100)

,date,shop_id,item_id,date_block_num,item_price,item_cnt_day,item_cnt_day_7_days_ago
0,2013-01-01,2,991,0,99.0,1.0,0.0
1,2013-01-01,2,1472,0,2599.0,1.0,0.0
2,2013-01-01,2,1905,0,249.0,1.0,0.0
3,2013-01-01,2,2920,0,599.0,2.0,0.0
4,2013-01-01,2,3320,0,1999.0,1.0,0.0
5,2013-01-01,2,4464,0,599.0,1.0,0.0
6,2013-01-01,2,4724,0,1399.0,1.0,0.0
7,2013-01-01,2,5649,0,2190.0,1.0,0.0
8,2013-01-01,2,6911,0,599.0,1.0,0.0
9,2013-01-01,2,6916,0,999.5,1.0,0.0
10,2013-01-01,2,8665,0,299.0,1.0,0.0
11,2013-01-01,2,8712,0,198.0,1.0,0.0
12,2013-01-01,2,11828,0,1699.0,1.0,0.0
13,2013-01-01,2,12134,0,299.0,1.0,0.0
14,2013-01-01,2,13434,0,13489.5,1.0,0.0
15,2013-01-01,2,15456,0,549.0,1.0,0.0
16,2013-01-01,2,16162,0,629.0,1.0,0.0
17,2013-01-01,2,16450,0,399.0,1.0,0.0
18,2013-01-01,2,18914,0,98.0,1.0,0.0
19,2013-01-01,2,19718,0,149.0,1.0,0.0
20,2013-01-01,2,19860,0,149.0,1.0,0.0
21,2013-01-01,2,20424,0,999.0,1.0,0.0
22,2013-01-01,2,20798,0,999.0,1.0,0.0
23,2013-01-01,7,98,0,399.0,1.0,0.0
24,2013-01-01,7,1006,0,399.0,1.0,0.0
25,2013-01-01,7,1008,0,299.0,1.0,0.0
26,2013-01-01,7,1418,0,349.0,1.0,0.0
27,2013-01-01,7,1455,0,698.0,1.0,0.0
28,2013-01-01,7,1524,0,2999.0,1.0,0.0
29,2013-01-01,7,1835,0,1999.0,1.0,0.0
30,2013-01-01,7,1913,0,249.0,1.0,0.0
31,2013-01-01,7,1915,0,249.0,1.0,0.0
32,2013-01-01,7,1958,0,99.0,1.0,0.0
33,2013-01-01,7,2308,0,799.0,1.0,0.0
34,2013-01-01,7,2848,0,99.0,1.0,0.0
35,2013-01-01,7,2920,0,599.0,1.0,0.0
36,2013-01-01,7,2956,0,599.0,1.0,0.0
37,2013-01-01,7,3007,0,1790.0,1.0,0.0
38,2013-01-01,7,3178,0,349.0,1.0,0.0
39,2013-01-01,7,3321,0,1999.0,1.0,0.0
40,2013-01-01,7,3325,0,1199.0,1.0,0.0
41,2013-01-01,7,3470,0,349.0,1.0,0.0
42,2013-01-01,7,3693,0,299.5,1.0,0.0
43,2013-01-01,7,3698,0,598.5,1.0,0.0
44,2013-01-01,7,3823,0,399.0,1.0,0.0
45,2013-01-01,7,3870,0,599.0,1.0,0.0
46,2013-01-01,7,3876,0,999.0,2.0,0.0
47,2013-01-01,7,4425,0,299.0,1.0,0.0
48,2013-01-01,7,4446,0,299.0,1.0,0.0
49,2013-01-01,7,4462,0,649.0,1.0,0.0
50,2013-01-01,7,4507,0,299.0,1.0,0.0
51,2013-01-01,7,4790,0,599.0,1.0,0.0
52,2013-01-01,7,4809,0,599.0,1.0,0.0
53,2013-01-01,7,4831,0,999.0,1.0,0.0
54,2013-01-01,7,4907,0,1799.0,1.0,0.0
55,2013-01-01,7,4910,0,599.0,1.0,0.0
56,2013-01-01,7,5256,0,799.0,1.0,0.0
57,2013-01-01,7,5275,0,1698.7,1.0,0.0
58,2013-01-01,7,5587,0,199.0,1.0,0.0
59,2013-01-01,7,5594,0,1190.0,1.0,0.0
60,2013-01-01,7,5605,0,489.3,1.0,0.0
61,2013-01-01,7,5811,0,199.0,1.0,0.0
62,2013-01-01,7,5871,0,799.0,1.0,0.0
63,2013-01-01,7,5894,0,999.0,1.0,0.0
64,2013-01-01,7,6076,0,299.5,1.0,0.0
65,2013-01-01,7,6490,0,699.0,1.0,0.0
66,2013-01-01,7,6495,0,699.0,1.0,0.0
67,2013-01-01,7,6724,0,599.0,1.0,0.0
68,2013-01-01,7,6910,0,899.0,1.0,0.0
69,2013-01-01,7,7137,0,598.5,1.0,0.0
70,2013-01-01,7,7770,0,1099.0,1.0,0.0
71,2013-01-01,7,7856,0,799.0,1.0,0.0
72,2013-01-01,7,8012,0,299.0,1.0,0.0
73,2013-01-01,7,8041,0,1299.0,1.0,0.0
74,2013-01-01,7,8599,0,199.0,1.0,0.0
75,2013-01-01,7,8764,0,399.0,1.0,0.0
76,2013-01-01,7,9043,0,399.0,1.0,0.0
77,2013-01-01,7,9281,0,899.0,1.0,0.0
78,2013-01-01,7,9301,0,1389.0,1.0,0.0
79,2013-01-01,7,10421,0,299.0,1.0,0.0
80,2013-01-01,7,10575,0,199.0,1.0,0.0
81,2013-01-01,7,10786,0,249.0,1.0,0.0
82,2013-01-01,7,10887,0,199.0,1.0,0.0
83,2013-01-01,7,11256,0,299.0,1.0,0.0
84,2013-01-01,7,11305,0,499.0,1.0,0.0
85,2013-01-01,7,13038,0,149.0,1.0,0.0
86,2013-01-01,7,13146,0,249.0,1.0,0.0
87,2013-01-01,7,13157,0,249.0,1.0,0.0
88,2013-01-01,7,13413,0,1999.0,1.0,0.0
89,2013-01-01,7,13417,0,699.0,1.0,0.0
90,2013-01-01,7,13418,0,699.0,1.0,0.0
91,2013-01-01,7,13927,0,149.0,1.0,0.0
92,2013-01-01,7,14261,0,399.0,1.0,0.0
93,2013-01-01,7,14433,0,299.0,1.0,0.0
94,2013-01-01,7,14665,0,199.0,1.0,0.0
95,2013-01-01,7,15123,0,170.0,1.0,0.0
96,2013-01-01,7,15766,0,149.0,1.0,0.0
97,2013-01-01,7,16146,0,1399.0,1.0,0.0
98,2013-01-01,7,16170,0,1999.0,1.0,0.0
99,2013-01-01,7,16450,0,399.0,2.0,0.0

In [21]:
lag7_gr = lag7.groupby(['date_block_num','shop_id', 'item_id'], as_index=False)\
                 .sum(numeric_only=True)
lag7_gr.head(100)

,date_block_num,shop_id,item_id,item_price,item_cnt_day,item_cnt_day_7_days_ago
0,0,2,27,2499.000000,1.0,0.0
1,0,2,33,499.000000,1.0,0.0
2,0,2,317,299.000000,1.0,0.0
3,0,2,438,299.000000,1.0,0.0
4,0,2,471,798.000000,2.0,0.0
5,0,2,481,330.000000,1.0,0.0
6,0,2,482,3300.000000,1.0,0.0
7,0,2,484,600.000000,2.0,0.0
8,0,2,491,600.000000,1.0,0.0
9,0,2,534,798.000000,2.0,0.0
10,0,2,556,199.000000,1.0,0.0
11,0,2,642,298.000000,2.0,0.0
12,0,2,651,149.000000,2.0,0.0
13,0,2,657,447.000000,3.0,0.0
14,0,2,677,447.000000,3.0,0.0
15,0,2,700,796.000000,4.0,0.0
16,0,2,785,349.000000,1.0,0.0
17,0,2,791,1200.000000,2.0,0.0
18,0,2,804,240.000000,1.0,0.0
19,0,2,839,3300.000000,1.0,0.0
20,0,2,963,99.000000,1.0,0.0
21,0,2,991,99.000000,1.0,0.0
22,0,2,995,99.000000,1.0,0.0
23,0,2,998,198.000000,2.0,0.0
24,0,2,999,99.000000,1.0,0.0
25,0,2,1000,99.000000,1.0,0.0
26,0,2,1001,99.000000,1.0,0.0
27,0,2,1007,1347.000000,3.0,0.0
28,0,2,1010,449.000000,1.0,0.0
29,0,2,1013,897.000000,3.0,1.0
30,0,2,1021,399.000000,2.0,0.0
31,0,2,1023,598.000000,2.0,1.0
32,0,2,1026,299.000000,1.0,0.0
33,0,2,1032,299.000000,1.0,0.0
34,0,2,1067,449.000000,1.0,0.0
35,0,2,1109,149.000000,1.0,0.0
36,0,2,1112,499.000000,1.0,0.0
37,0,2,1167,1100.000000,1.0,0.0
38,0,2,1204,299.000000,1.0,0.0
39,0,2,1224,399.000000,1.0,0.0
40,0,2,1247,299.000000,1.0,0.0
41,0,2,1362,49.000000,1.0,0.0
42,0,2,1409,1398.500000,1.0,0.0
43,0,2,1418,1047.000000,3.0,0.0
44,0,2,1420,1047.000000,3.0,0.0
45,0,2,1430,698.000000,1.0,0.0
46,0,2,1467,899.000000,1.0,0.0
47,0,2,1470,2396.000000,4.0,1.0
48,0,2,1471,5198.000000,2.0,0.0
49,0,2,1472,7797.000000,3.0,0.0
50,0,2,1475,899.000000,1.0,0.0
51,0,2,1481,1999.000000,1.0,0.0
52,0,2,1523,3995.000000,6.0,1.0
53,0,2,1524,2999.000000,1.0,0.0
54,0,2,1597,469.000000,1.0,0.0
55,0,2,1829,5996.000000,4.0,0.0
56,0,2,1832,1999.000000,1.0,0.0
57,0,2,1835,3998.000000,2.0,0.0
58,0,2,1871,299.000000,1.0,0.0
59,0,2,1889,599.000000,1.0,0.0
60,0,2,1905,747.000000,3.0,0.0
61,0,2,1912,747.000000,3.0,0.0
62,0,2,1915,249.000000,1.0,0.0
63,0,2,1916,498.000000,3.0,0.0
64,0,2,1923,249.000000,1.0,0.0
65,0,2,1926,249.000000,1.0,0.0
66,0,2,1958,198.000000,3.0,0.0
67,0,2,1987,1198.000000,2.0,0.0
68,0,2,1992,1998.000000,2.0,0.0
69,0,2,2109,199.000000,1.0,0.0
70,0,2,2252,599.000000,1.0,0.0
71,0,2,2281,999.000000,2.0,0.0
72,0,2,2304,5996.550000,5.0,0.0
73,0,2,2307,5598.000000,2.0,0.0
74,0,2,2308,2397.000000,3.0,1.0
75,0,2,2321,1998.000000,2.0,0.0
76,0,2,2416,449.000000,1.0,0.0
77,0,2,2417,349.000000,1.0,0.0
78,0,2,2437,1399.000000,1.0,0.0
79,0,2,2439,598.000000,2.0,0.0
80,0,2,2441,1199.000000,1.0,0.0
81,0,2,2640,349.000000,1.0,0.0
82,0,2,2678,999.000000,1.0,0.0
83,0,2,2682,2998.000000,2.0,0.0
84,0,2,2715,899.000000,1.0,0.0
85,0,2,2716,149.000000,1.0,0.0
86,0,2,2731,599.000000,1.0,0.0
87,0,2,2746,598.000000,2.0,0.0
88,0,2,2808,8990.833333,17.0,3.0
89,0,2,2828,499.000000,1.0,0.0
90,0,2,2833,599.000000,1.0,0.0
91,0,2,2844,899.000000,1.0,0.0
92,0,2,2846,1699.000000,1.0,0.0
93,0,2,2847,1699.000000,1.0,0.0
94,0,2,2848,198.000000,2.0,0.0
95,0,2,2920,3593.000000,6.0,2.0
96,0,2,2926,199.000000,1.0,0.0
97,0,2,2929,995.000000,5.0,1.0
98,0,2,2931,594.000000,8.0,0.0
99,0,2,2939,1198.000000,2.0,0.0

In [17]:
lag7.iloc[100000:].head(100)

,date,shop_id,item_id,date_block_num,item_price,item_cnt_day,item_cnt_day_7_days_ago
100000,2013-01-26,54,15719,0,149.00,1.0,NaN
100001,2013-01-26,54,15729,0,399.00,3.0,1.0
100002,2013-01-26,54,15730,0,1499.00,1.0,NaN
100003,2013-01-26,54,15769,0,799.00,1.0,NaN
100004,2013-01-26,54,16071,0,249.00,1.0,NaN
100005,2013-01-26,54,16135,0,249.00,1.0,NaN
100006,2013-01-26,54,16184,0,249.00,1.0,NaN
100007,2013-01-26,54,16227,0,379.00,1.0,NaN
100008,2013-01-26,54,16439,0,299.00,1.0,NaN
100009,2013-01-26,54,16450,0,399.00,3.0,8.0
100010,2013-01-26,54,16451,0,499.00,2.0,2.0
100011,2013-01-26,54,16457,0,199.00,1.0,NaN
100012,2013-01-26,54,16462,0,399.00,2.0,NaN
100013,2013-01-26,54,16482,0,399.00,10.0,NaN
100014,2013-01-26,54,16483,0,549.00,4.0,NaN
100015,2013-01-26,54,16623,0,399.00,9.0,NaN
100016,2013-01-26,54,16624,0,499.00,5.0,NaN
100017,2013-01-26,54,16656,0,149.00,1.0,NaN
100018,2013-01-26,54,16742,0,149.00,1.0,NaN
100019,2013-01-26,54,16873,0,149.00,1.0,NaN
100020,2013-01-26,54,16890,0,399.00,1.0,1.0
100021,2013-01-26,54,16891,0,1499.00,1.0,NaN
100022,2013-01-26,54,16919,0,399.00,1.0,NaN
100023,2013-01-26,54,16920,0,549.00,1.0,NaN
100024,2013-01-26,54,16993,0,399.00,2.0,4.0
100025,2013-01-26,54,16994,0,549.00,3.0,NaN
100026,2013-01-26,54,17222,0,199.00,1.0,NaN
100027,2013-01-26,54,17241,0,349.00,2.0,1.0
100028,2013-01-26,54,17242,0,549.00,1.0,NaN
100029,2013-01-26,54,17278,0,399.00,1.0,NaN
100030,2013-01-26,54,17412,0,149.00,1.0,NaN
100031,2013-01-26,54,17463,0,399.00,1.0,1.0
100032,2013-01-26,54,17480,0,399.00,1.0,1.0
100033,2013-01-26,54,17645,0,1199.00,1.0,NaN
100034,2013-01-26,54,17710,0,1498.75,2.0,NaN
100035,2013-01-26,54,17744,0,490.00,1.0,NaN
100036,2013-01-26,54,17852,0,149.00,1.0,NaN
100037,2013-01-26,54,17863,0,299.00,1.0,NaN
100038,2013-01-26,54,17995,0,199.00,1.0,NaN
100039,2013-01-26,54,18111,0,349.00,2.0,NaN
100040,2013-01-26,54,18450,0,199.00,1.0,NaN
100041,2013-01-26,54,18580,0,299.00,1.0,NaN
100042,2013-01-26,54,18581,0,399.00,1.0,NaN
100043,2013-01-26,54,18718,0,149.00,1.0,1.0
100044,2013-01-26,54,18746,0,149.00,1.0,NaN
100045,2013-01-26,54,18753,0,349.00,2.0,NaN
100046,2013-01-26,54,18826,0,349.00,2.0,NaN
100047,2013-01-26,54,18846,0,299.00,1.0,NaN
100048,2013-01-26,54,18976,0,399.00,1.0,1.0
100049,2013-01-26,54,18977,0,549.00,1.0,NaN
100050,2013-01-26,54,19131,0,149.00,1.0,NaN
100051,2013-01-26,54,19164,0,399.00,4.0,NaN
100052,2013-01-26,54,19166,0,549.00,6.0,NaN
100053,2013-01-26,54,19232,0,399.00,1.0,2.0
100054,2013-01-26,54,19369,0,549.00,1.0,NaN
100055,2013-01-26,54,19420,0,349.00,1.0,NaN
100056,2013-01-26,54,19481,0,599.00,1.0,NaN
100057,2013-01-26,54,19564,0,399.00,1.0,NaN
100058,2013-01-26,54,19597,0,149.00,1.0,NaN
100059,2013-01-26,54,19598,0,399.00,1.0,NaN
100060,2013-01-26,54,19635,0,3799.00,1.0,NaN
100061,2013-01-26,54,19672,0,699.00,1.0,NaN
100062,2013-01-26,54,19803,0,399.00,1.0,NaN
100063,2013-01-26,54,19811,0,349.00,15.0,NaN
100064,2013-01-26,54,19863,0,599.00,1.0,NaN
100065,2013-01-26,54,19904,0,149.00,2.0,NaN
100066,2013-01-26,54,19914,0,499.00,2.0,NaN
100067,2013-01-26,54,19915,0,349.00,7.0,NaN
100068,2013-01-26,54,19929,0,599.00,1.0,1.0
100069,2013-01-26,54,19932,0,299.50,1.0,NaN
100070,2013-01-26,54,20040,0,149.00,1.0,NaN
100071,2013-01-26,54,20064,0,349.00,1.0,NaN
100072,2013-01-26,54,20167,0,699.00,1.0,NaN
100073,2013-01-26,54,20171,0,699.00,1.0,NaN
100074,2013-01-26,54,20173,0,799.00,1.0,NaN
100075,2013-01-26,54,20175,0,849.00,1.0,NaN
100076,2013-01-26,54,20215,0,149.00,1.0,NaN
100077,2013-01-26,54,20228,0,299.00,1.0,3.0
100078,2013-01-26,54,20230,0,399.00,2.0,1.0
100079,2013-01-26,54,20237,0,299.00,2.0,NaN
100080,2013-01-26,54,20383,0,1229.00,1.0,1.0
100081,2013-01-26,54,20391,0,1999.00,1.0,NaN
100082,2013-01-26,54,20425,0,999.00,1.0,NaN
100083,2013-01-26,54,20597,0,2499.00,1.0,NaN
100084,2013-01-26,54,20674,0,1799.00,1.0,NaN
100085,2013-01-26,54,20881,0,649.00,2.0,1.0
100086,2013-01-26,54,20967,0,799.00,1.0,NaN
100087,2013-01-26,54,20970,0,799.00,1.0,1.0
100088,2013-01-26,54,20976,0,699.00,1.0,NaN
100089,2013-01-26,54,20978,0,699.00,1.0,1.0
100090,2013-01-26,54,21392,0,149.00,1.0,NaN
100091,2013-01-26,54,21424,0,399.00,5.0,1.0
100092,2013-01-26,54,21425,0,1449.00,2.0,NaN
100093,2013-01-26,54,21490,0,149.00,1.0,1.0
100094,2013-01-26,54,21566,0,399.00,1.0,NaN
100095,2013-01-26,54,21572,0,498.00,1.0,NaN
100096,2013-01-26,54,21615,0,349.00,1.0,NaN
100097,2013-01-26,54,21692,0,248.00,1.0,NaN
100098,2013-01-26,54,21695,0,149.00,1.0,NaN
100099,2013-01-26,54,21808,0,349.00,1.0,NaN

In [6]:
class FeatureExtractor:
    
    def __init__(self, data):
        self.data = data
    
    
    def _add_lags(self, df, period):
        merge_cols = list(df.columns)
        merge_cols.remove('item_cnt_day')
        lagged_df = df.merge(df.assign(date_block_num = df.date_block_num + period),
                         on = merge_cols,
                         how = 'left',
                         suffixes = ['', f'_{period}_month_ago'])\
                      .fillna(0)
        
        return lagged_df
    
    
    def extract(self, supplementary_tables):
        
        items, item_cat, shops = supplementary_tables
        
        # adding week lag
        st = self.data.groupby(['date','shop_id', 'item_id','date_block_num'], as_index=False).sum(numeric_only=True)
        df = st.merge(st.assign(date=st.date+timedelta(days=7)),
                         on = ['date','shop_id', 'item_id','date_block_num', 'item_price'],
                         how = 'left',
                         suffixes = ['', '_7_days_ago'])\
               .fillna(0)\
               .groupby(['date_block_num','shop_id', 'item_id'], as_index=False)\
               .sum(numeric_only=True)
        
        # adding 1 month and 1 year lags
        df = self._add_lags(df, period=1)
        df = self._add_lags(df, period=12)
        
        # reduced item_cat
        red_item_cat = item_cat.copy() 
        red_item_cat.loc[0, 'item_category_name'] = 'PC-Гарнитуры Наушники'
        red_item_cat["item_category_name"] = red_item_cat['item_category_name'].str.replace("-|\(.*\)|[A-Za-z0-9]+", '', regex=True)
        red_item_cat["item_category_name"] = red_item_cat['item_category_name'].str.replace(" .*", '', regex=True)
        red_item_cat.rename(columns = {"item_category_name":"short_item_category_name"}, inplace=True)

        # reduced shops
        red_shops = shops.copy() 
        red_shops["shop_name"] = red_shops['shop_name'].str.replace(" .*", '', regex=True)
        red_shops.rename(columns={"shop_name":"shop_city"}, inplace=True)

        # add category and city's
        df = df.merge(items, on='item_id', how='left')\
                 .merge(red_item_cat, on='item_category_id', how='left')\
                 .merge(red_shops, on='shop_id', how='left')
        df = df.drop(columns = ['item_category_id', 'item_name'])
        
        # feature engineering
        df['is_moscow'] = (df.shop_city=='Москва').astype(int)
        df = df.merge(df.groupby(["date_block_num", "is_moscow"],  as_index=False)\
                                         .item_cnt_day\
                                         .mean(),
                                 on = ['date_block_num', 'is_moscow'],
                                 how = 'left',
                                 suffixes = ['', '_']
                                ).rename({"item_cnt_day_":"city_revenue_this_month"}, axis=1)
        df = pd.get_dummies(df, columns=['short_item_category_name'], prefix='category')
        df = df.drop(columns=['shop_city'])
        
        # renaming target
        df.rename({"item_cnt_day":"y"}, axis=1, inplace=True)
        
        return df

In [156]:
X = data.loc[(data.date >= "2013-01-01") & (data.date < "2013-05-01")]
fex = FeatureExtractor(X)
dt = fex.extract(supplementary_tables)
split_block = dt.date_block_num.max()
dt.loc[dt.date_block_num >= split_block]

3
3
3
3
3
3

,date_block_num,shop_id,item_id,item_price,y,item_cnt_day_7_days_ago,item_cnt_day_1_month_ago,item_cnt_day_12_month_ago,is_moscow,city_revenue_this_month,category_Аксессуары,category_Гарнитуры,category_Доставка,category_Игровые,category_Игры,category_Карты,category_Кино,category_Книги,category_Музыка,category_Подарки,category_Программы,category_Служебные,category_Чистые,category_Элементы
187135,3,2,31,699.0,1.0,0.0,0.0,0.0,0,1.830673,0,0,0,0,0,0,1,0,0,0,0,0,0,0
187136,3,2,464,299.0,1.0,0.0,0.0,0.0,0,1.830673,0,0,0,0,0,0,0,1,0,0,0,0,0,0
187137,3,2,482,3300.0,1.0,0.0,1.0,0.0,0,1.830673,0,0,0,0,0,0,0,0,0,0,1,0,0,0
187138,3,2,484,900.0,3.0,1.0,0.0,0.0,0,1.830673,0,0,0,0,0,0,0,0,0,0,1,0,0,0
187139,3,2,485,600.0,2.0,0.0,0.0,0.0,0,1.830673,0,0,0,0,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
241768,3,59,22016,299.0,1.0,0.0,1.0,0.0,0,1.830673,0,0,0,0,0,0,1,0,0,0,0,0,0,0
241769,3,59,22020,798.0,2.0,0.0,0.0,0.0,0,1.830673,0,0,0,0,0,0,1,0,0,0,0,0,0,0
241770,3,59,22076,798.0,8.0,0.0,0.0,0.0,0,1.830673,0,0,0,0,1,0,0,0,0,0,0,0,0,0
241771,3,59,22088,237.0,3.0,0.0,5.0,0.0,0,1.830673,0,0,0,0,0,0,0,0,0,0,0,0,0,1
241772,3,59,22092,109.0,2.0,0.0,0.0,0.0,0,1.830673,0,0,0,0,0,0,0,0,0,0,0,0,0,1

In [141]:
X.date_block_num.max()

3

In [7]:
class SaleCV:
    
    def __init__(self, split_dates, metrics):
        self.split_dates = split_dates
        self.metrics = metrics
        
        cols = ['Model_name', 'train_window', 'test_window']
        train_metrics_cols = ["train_"+str(x).split()[1] for x in metrics]
        test_metrics_cols = ["test_"+str(x).split()[1] for x in metrics]
        cols.extend(train_metrics_cols)
        cols.extend(test_metrics_cols)
        
        self.history = pd.DataFrame(columns=cols)
        
    def _get_batch(self, data, left_boundary='2013-01-01', right_boundary='2015-11-01'): 
        return data.loc[(data.date >= left_boundary) & (data.date < right_boundary)]
    
    def _make_split(self, X):
        
        """Using expanding window"""
        
        split_block = X.date_block_num.max()
        train = X.loc[X.date_block_num < split_block]
        test = X.loc[X.date_block_num == split_block]
        train_x, train_y = train.drop(columns='y').to_numpy(), train['y'].to_numpy()
        test_x, test_y = test.drop(columns='y').to_numpy(), test['y'].to_numpy()
        
        return train_x, train_y, test_x, test_y
    
    def fit(self, model, data, supplementary_tables):
        
        for i in range(len(self.split_dates)-1):
            print(f"Iteration {i}")
            
            # feature engineering
            batch = self._get_batch(data, right_boundary=self.split_dates[i+1])
            fe = FeatureExtractor(batch)
            X = fe.extract(supplementary_tables)   
            train_x, train_y, test_x, test_y = self._make_split(X)
            print("f1")
            # model train
            model.fit(train_x, train_y)
            print("f2")
            y_pred_train = model.predict(train_x)
            y_pred_test = model.predict(test_x)
            print(f"Train shape: {train_x.shape}")
            print(f"Test shape: {test_x.shape}")
            train_metrics = [metric(train_y, y_pred_train) for metric in self.metrics]
            test_metrics = [metric(test_y, y_pred_test) for metric in self.metrics]
            observation  = [f"{model}",
                            f"2013-01-01 to {self.split_dates[i]}",
                            f"{self.split_dates[i]} to {self.split_dates[i+1]}"]
            observation.extend(train_metrics)
            observation.extend(test_metrics)                       
            self.history.loc[len(self.history)] =  observation

In [8]:
from sklearn.linear_model import ElasticNet, LinearRegression
from sklearn.metrics import mean_squared_error as mse, mean_absolute_error as mae, mean_absolute_percentage_error as mape
split_dates = (pd.date_range('2013-02-01', '2015-11-01', freq='M')+timedelta(days=1))[:2]
cv = SaleCV(split_dates, [mse])
en = ElasticNet()
lr = LinearRegression()
cv.fit(lr, data, supplementary_tables)
cv.history

Iteration 0
f1
f2
Train shape: (123158, 23)
Test shape: (63977, 23)

,Model_name,train_window,test_window,train_mean_squared_error,test_mean_squared_error
0,LinearRegression(),2013-01-01 to 2013-03-01 00:00:00,2013-03-01 00:00:00 to 2013-04-01 00:00:00,3.875324,5.489542

In [9]:
from sklearn.svm import SVR
regr = SVR()
cv.fit(regr, data, supplementary_tables)
cv.history

Iteration 0
f1
f2
Train shape: (123158, 23)
Test shape: (63977, 23)

,Model_name,train_window,test_window,train_mean_squared_error,test_mean_squared_error
0,LinearRegression(),2013-01-01 to 2013-03-01 00:00:00,2013-03-01 00:00:00 to 2013-04-01 00:00:00,3.875324,5.489542
1,SVR(),2013-01-01 to 2013-03-01 00:00:00,2013-03-01 00:00:00 to 2013-04-01 00:00:00,10.220886,19.944580

In [ ]:
cv.history